@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(45deg, #e91e63, #9c27b0);
  --primary: #ff1ead;
  --secondary: #1effc3;
}

body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 1rem;
  background: var(--background);
  font-family: "KCCChassam";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: white;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 31rem;
  height: 20rem;
  perspective: 150rem;
  margin: 5px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0.75rem;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  background: black;
  display: grid;
  grid-template-columns: 40% auto;
  color: white;
  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-front {
  align-items: center;
  display: grid;
  grid-template-columns: 40% auto;
}

.card-back {
  display: none;
}

.card-front:hover,
.card-back:hover {
  transform: scale(1.1);
  box-shadow: 0 32px 80px 14px rgba(0, 0, 0, 0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.card-details {
  padding: 1rem;
}

.name {
  font-size: 1.25rem;
}

.occupation {
  font-weight: 600;
  color: var(--primary);
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
}

.info .label {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
}

.info .value {
  margin-top: 0.15rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
