.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: white;
}

.title {
  margin-top: 75px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}

.explain_container__ {
  border: black 4px solid;
  width: 600px;
  height: 500px;
  font-family: "KCCChassam";
}

.explain_me__ {
  line-height: 30px;
}

.my-picture__ {
  width: 150px;
  height: 380px;
  margin-left: 25px;
  margin-top: 60px;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 90%;
  }

  .explain_container__ {
    width: 100%;
    height: auto;
  }

  .my-picture__ {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
