@font-face {
  font-family: "KCCChassam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.card {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden;

  background-color: white;
}

.title {
  /* text-align: center; */
  margin-top: 75px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, 0.1);
  text-indent: 0.3em;
}
.explain_container__ {
  border: black 4px solid;
  width: 600px;
  height: 500px;
  font-family: "KCCChassam";
}

.explain_me__ {
  line-height: 30px;
}
